@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin:0 ;
  font-family: 'Poppins', sans-serif;
}

a:active{
  font-weight: 800;
}

.form-contact {
  background-color: #111727;
  color: white;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}

.contactme:hover{
  background-color: orangered;
color: #111727;
font-weight: bold;
}

nav ul li .project {
  width: fit-content;
}

nav .iconburger i {
display: none;
}

.nav-right{
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-end;
width: 78%;
}


nav .tutupan li {
list-style-type: none;
}

nav .tutupan .icondw img {
max-width: 55px;
width: 450%;
margin-top: 20%;
margin-left: -20px;
object-fit: contain;
}

nav .tutupan li a {
text-decoration: none;
color: black;
}

nav .tutupan li a:hover {
background-color: orangered;
color: white;
border: none;
cursor: pointer;
padding: 5px 5px;
border-radius: 5px;
text-decoration: none;
} 

nav .tutupan {
display: flex;
flex-direction: row;
align-items: center;
height: 100%;
gap: 22px;
}

nav{
display: flex;
background-color: whitesmoke;
height: 50px;
box-shadow: 0px 3px 3px 1px rgba(37, 37, 37, 0.247);
}

.iiconburger {
display: none;
}

.bukabungkus {
  display:none
}

.btncontact button {
  display: flex;
  flex-direction: row;
  width: fit-content;
  font-size: 12px;
}


@media only screen and (max-width: 1120px) {
  
  body nav .tutupan li a, nav div .btncontact {
      display: none;
  }
  nav .tutupan {
      margin-left: 7%;
  }

.bungkus {
  display: flex;
  flex-direction: column;
  width: auto;
}

.bukabungkus {
  display: flex;
  flex-direction: column;
  background-color: #b7b9b9;
  border: 2px solid rgba(0, 0, 0, 0.397);
  box-shadow: 5px 5px 5px 1px;
}

.bukabungkus .ulbuka .bungkus {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.bukabungkus .ulbuka .bungkus a:hover {
  background-color: orangered;
  transform: scale(1.1);
}

.bukabungkus .ulbuka .bungkus a {
  text-decoration: none;
  color: #111727;
  background-color: #b7b9b9;
}

body .bukabungkus {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bukabungkus .ulbuka li a, .bukabungkus .ulbuka li a button {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  width: max-content;
  align-items: center;
}

.iiconburger, .iiconburger .fa-burger {
  display: flex;
  flex-direction: row;
  margin-inline-start: auto;
  margin-right: 10%;
  margin-top: 1%;
}

.bukabungkus .ulbuka {
  display: none;
  flex-direction: column;
}
}

.bg-silver {
  background-color: silver;
}

.ini260px {
  width: 260px;
}